html.dark {
  --c-bg: #232323;
}

#app {
  div.theme-container .navbar {
    .site-name{
      font-size: 1.1rem;
    }
    img.logo {
      border-radius: 50%;
    }
  }
  div.no-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;

    main.home {
      width: 100%;
      max-width: 100%;
      padding: var(--navbar-height) 0 0 0;
      background: url("/images/P61.jpg") center center / cover no-repeat rgb(34, 34, 34);
      overflow: hidden;
      display: table;
      height: calc(100% - var(--navbar-height));

      .hero {
        h1#main-title {
          font-weight: 700;
          font-family: 'Playball',cursive;
          letter-spacing: -1px;
          color: #fff;
          -webkit-animation: fade-in-down 1s;
          animation: fade-in-down 1s both;
          -webkit-animation-delay: .5s;
          animation-delay: .5s;
          text-shadow: 0 3px 6px rgb(0 0 0 / 30%);
          margin: 0;
        }
      }

      header {
        display: table-cell;
        vertical-align: middle;
        width: 100%;

        p.description {
          font-size: 1.1rem;
          font-family: 'Long Cang', cursive;
          letter-spacing: .01rem;
          color: rgba(255,255,255,.8);
          text-shadow: 0 3px 6px rgb(0 0 0 / 50%);
          font-weight: 400;
          margin: 0.5rem auto;
          -webkit-animation: fade-in-down .9s;
          animation: fade-in-down .9s both;
          -webkit-animation-delay: .7s;
          animation-delay: .7s;
          // -webkit-box-orient: vertical;
          -webkit-line-clamp: 10;
          overflow: hidden;
        }
      }

      .footer {
        width: 100%;
        position: absolute;
        border: none;
        left: 0;
        top: 100%;
        color: #888;
        font-size: 13px;
        line-height: 1.5;
        background: #232323;
        // background: #22272e;
        padding: 0;

        .footer-container {
          margin: 1.5rem;

          a {
            font-weight: normal;
            color: #888;
          }

          a:hover {
            font-weight: normal;
            color: #7C61DD;
          }
        }

        .footer-text {
          font-size: 16px;
          border-bottom: 1px dashed #333;
          padding-bottom: 5px;
          font-family: 'Long Cang', cursive;
        }

        .footer-text-icon {
          display: inline-block;
          margin: 0 7px;
          font-size: 14px;
          -webkit-font-smoothing: antialiased;
          animation: iconAnimate 1.33s ease-in-out infinite;

          .icon-shandian1 {
            font-size: 18px;
            color: #7C61DD;
          }
        }
      }
    }
  }
}

/* 文本选中样式 */
::selection {
  background: #807dd4;
  color: #FFF;
}

::-moz-selection {
  background: #807dd4;
  color: #FFF;
}

::-webkit-selection {
  background: #807dd4;
  color: #FFF;
}

/* 滚动条样式 */
/*定义滚动条高宽及背景高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道内阴影+圆角*/
::-webkit-scrollbar-track {
  width: 3px;
  background-color: #f9f9f9;
}

/*定义滑块内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background-color: #999;
  background-clip: padding-box;
  min-height: 100px;
}

/* 首页字体动画 */
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

/* footer 的闪电动画 */
@-moz-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1)
  }

  10%,
  30% {
    transform: scale(.9)
  }

  20%,
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: scale(1.1)
  }
}

@-webkit-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1)
  }

  10%,
  30% {
    transform: scale(.9)
  }

  20%,
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: scale(1.1)
  }
}

@-o-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1)
  }

  10%,
  30% {
    transform: scale(.9)
  }

  20%,
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: scale(1.1)
  }
}

@keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1)
  }

  10%,
  30% {
    transform: scale(.9)
  }

  20%,
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: scale(1.1)
  }
}