$color-text-purple: #7C61DD;
$color-text-purple-light: #807dd4;

:root {
  // --nprogress-color: #807dd4;
  // --nprogress-z-index: 1031;

  // 主色调
  --c-brand: #646cff;

  // main 的最大宽度
  --content-width: 90%;

  // code 代码块
  --not-pre-code-bg-color: #f6f6f7;

  // 自定义搜索框样式
  --docsearch-text-color-1: rgba(60, 60, 67, .7);
  --docsearch-icon-size: 18px;
  --docsearch-icon-stroke-width-1: 1.4;

  // container
  --custom-block-tip-border: rgba(16, 185, 129, .5);
  --custom-block-tip-text: #10b981;
  --custom-block-tip-bg: rgba(16, 185, 129, .05);
  --custom-block-warning-border: rgba(234, 179, 8, .5);
  --custom-block-warning-text: #eab308;
  --custom-block-warning-bg: rgba(234, 179, 8, .05);
  --custom-block-danger-border: rgba(244, 63, 94, .5);
  --custom-block-danger-text: #f43f5e;
  --custom-block-danger-bg: rgba(244, 63, 94, .05);
}

html.dark {
  // --nprogress-color: #807dd4;
  // --nprogress-z-index: 1031;

  // 主色调
  --c-brand: #646cff;
  --c-brand-light: #9499ff;

  --c-bg: #1e1e20;

  --c-bg-dark-1: #1e1e20; // #161618

  // 文字颜色
  --c-text: #fffff5db;

  // code 代码块
  --not-pre-code-bg-color: #313136;

  // 自定义搜索框样式
  --docsearch-text-color-1: rgba(235, 235, 245, .6);
}
